@inject NavigationManager Navigation
@page "/"
@using Entities
<h3 style="text-align: center;">Movie List</h3>



<style>
    body {
        background-color: #f2f2f2;
    }
</style>

@code {

    protected override async Task OnInitializedAsync()
    {
        Navigation.NavigateTo("/login");
    }

}