@page "/login"
@using SEP6.Data
@using SEP6.Temporary
@using Domain
@inject NavigationManager Navigation
@inject IDatabaseRetriever DatabaseRetriever
@inject DataSession DataSession

<div class="loginContainer">
    <div class="logo-container">
        <img src="images/Logo.jpg" alt="Imperium Movie Logo" class="logo-img">
    </div>

    <form class="formContainer" @onsubmit="LogInUser" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control custom-input" @bind="username" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control custom-input" @bind="password" placeholder="Enter your password" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn custom-button">Log in</button>
        </div>
    </form>

    <div class="text-center mt-3">
        Don't have an account? <a href="/register" class="register-link">Register here!</a>
    </div>
</div>

@code {
    private string username;
    private string password;

    private async Task LogInUser()
    {
        try
        {
            DataSession.User=await DatabaseRetriever.LogIn(username, password);
    // Login successful, navigate to home page or another desired page
            Navigation.NavigateTo("/movielist");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
    // Handle login error
        }
    }
}