@page "/register"
@using SEP6.Data
@using Microsoft.AspNetCore.Components
@using Entities
@using Domain
@inject NavigationManager Navigation
@inject IDatabaseRetriever DatabaseRetriever
@inject IJSRuntime JsRuntime

<div class="registerContainer">
    <div class="logo-container">
        <img src="images/Logo.jpg" alt="Imperium Movie Logo" class="logo-img">
    </div>

    <form class="formContainer" @onsubmit="RegisterUser" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control custom-input" @bind="user.Name" placeholder="Enter your name" required>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control custom-input" @bind="user.Username" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control custom-input" @bind="user.Password" placeholder="Enter your password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control custom-input" @bind="confirmPassword" placeholder="Confirm your password" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary custom-button">Create Account</button>
        </div>
    </form>

    <div class="text-center mt-3">
        Have an account already? <a href="/login">Click here to Sign in!</a>
    </div>
</div>

@code {
    private User user = new User();
    private string confirmPassword;

    private async Task RegisterUser()
    {
        if(user.Username== null || user.Name == null)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Please fill all the fields");
            return;
        }
        if (user.Password != confirmPassword)
        {
            await JsRuntime.InvokeVoidAsync("alert", "The two passwords do not match.");
            return;
        }

        try
        {
            await DatabaseRetriever.RegisterUser(user);
            Navigation.NavigateTo("/login");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}

}
