.registerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/Background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.registerContainer .formContainer label {
    color: white;
}

.registerContainer .text-center a {
    color: #ff6b6b;
    text-decoration: none;
}

.registerContainer .custom-button {
    background-color: #ff6b6b;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}